@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #02CCDE, #02FACD);
}
main{
    background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 15px #021ffa52;
    width: 600px;
    padding: 10px;
    margin: auto;
   
}
h1{
    color: #021FFA;
    text-align: center;
    box-shadow: 1px 1px 2px #0AA3F5;
   
}
h2{
    color: #0AA3F5;
}
p{
    text-align: justify;
}
